*
{
    padding: 0px;
    margin: 0px;
}

nav
{
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1)0%, 
        rgba(252,11,13,0.11817226890756305) 100%);
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
    position: relative;
    z-index: 1;
    justify-content: space-around;
    align-items: center;

}

nav > h1
{
    display: block;
    padding: 30px 0px;
    text-align: center;
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #4A99D3;
    cursor: pointer;
}


.nav-bar-contents-info
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.register-sell
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.register-sell > i
{
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
}
.register-sell >p
{
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F001A;
}

@media only screen and (max-width: 600px)
{
    nav
    {
        display: block;
    }
    .nav-bar-contents-info
    {
        width: 100%;
        padding: 30px 0px;
    }
    nav>h1
    {
        width: 100%;
    }
}

.banner
{
    padding: 0px 70px 100px 70px;
}

.banner-top
{
    display: flex;
    padding: 96px 0px;
    justify-content: space-around;
    background-color: #EAF6FF;
}
.banner-contents
{

}

.banner-contents p
{
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
}

.banner-button
{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FC0B0D;
    border-radius: 20px;
    background-color: #EAF6FF;
    /* width: 400px;
    height: 70px; */
}

.Search-More
{
    display: block;
    width: 66px;
    height: 30px;
}

.banner-button input
{
    
    outline: none;
    border: none;
    background-color: #EAF6FF;
}

input::placeholder
{
    color: #004B84;
}

.sliders
{
    width: 35px;
    height: 32px;
}
.banner-top > img
{
    position: relative;
    margin-bottom: -170px;
    display: block;
    width: 436px;
    height: 382px;
    z-index: 1;
}

@media only screen and (max-width: 992px)
{
    .banner-top > img
    {
        display: none;
    }
}
@media only screen and (max-width: 600px)
{
    .banner
    {
        padding: 0px 0px 100px 00px;
    }
}




.cards
{
    /* width: 100%; */
    display: flex;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;

}

.card
{
    width: 45%;
    display: flex;
    padding: 30px;
    margin: 24px;
    background: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.card-details
{
    width: 45%;
    display: block;
    /* text-align: center; */

}

.card-heading
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29.65px;
    line-height: 36px;
    display: flex;
    /* align-items: center; */
    color: #000000;
    padding: 10px;
}
.card-p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20.65px;
    line-height: 25px;
    display: flex;
    padding: 10px;
    color: #000000;

}

.card-btn
{
    border: none;
    outline: none;
    background: #FC0B0D;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}



@media only screen and (max-width: 1200px)
{
    .cards
    {
        display: block;
    }
    .card
    {
        width: 80%;
        /* padding: 24px 0px 24px 24px; */

    }
}

@media only screen and (max-width: 600px)
{
    .card
    {
        display: block;
        padding: 10px 20px;
    }
    .card-details
    {
        width: 100%;
    }
    .card img 
    {
        display: block;
        width: 100%;
    }
}



.product
{
    /* padding: 10px 50px; */
    display: flex;
    /* padding: 10px 50px; */
    padding: 20px 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.product-card
{
    margin: 40px 10px;
    width: 320px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
}

.product-image
{
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.product-h4
{
    padding: 5px 10px;
    display: flex;
    margin: auto;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.product-details
{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.product-p
{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #EB3223;
}

.product-btn
{
    background: #F12B2C;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: none;
    color: #FFFFFF;
}
.product-bottom
{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.product-btm-p
{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}
.product-date
{
    padding: 5px 0px 0px 0px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;

    opacity: 0.5;
}
.bottom
{
    display: flex;
    align-items: center;
    padding: 70px;
}
.bottom hr
{
    width: calc(48% - 100px);
    /* justify-content: center; */
    border: 2px solid #E5E5E5;
}
.btn
{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: #FFFFFF;
    border: 2px solid #FC0B0D;
    outline: none;
    padding: 20px ;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;

}

footer{
    display: flex;
    background-color: #EAF6FF;
    width: 100%;
    padding: 30px 0px;
}


.contents{
    display: flex;
    width: 50%;
    display: block;
    margin: 0px 13px;
}

.h2-contents
{
    display: flex;
    padding: 30px 30px 10px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.cont-p{
    padding: 20px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #504A41;
}

.ft-cont
{
    padding: 47px 37px 65px;
    display: flex;
    width: 50%;
}
.contents1
{
    width: 50%;
    display:block;
    justify-content: space-between;
}


h3
{
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #000000;

}
.details
{
    display: flex;
    padding: 10px 10px 10px 0px;
}
/* img
{
    padding-right: 12px;
} */

.details > img
{
    padding-right: 10px;
}
.contents > p
{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.details1 p{
    padding: 10px 10px 10px 0px;
}

/* @media only screen and (max-width: 850px)
{
    footer
    {
        display: block;
    }
    .contents
    {
    }
    .ft-cont
    {
        padding-right: 0px;
    }
} */

@media only screen and (max-width: 768px)
{
    footer
    {
        display: block;
    }
    .contents
    {
        width: 100%;
    }
    .ft-cont
    {
        width: 100%;
        padding-right: 0px;
    }
}


@media only screen and (max-width: 600px)
{
    footer
    {
        display: block;
        width:100%;
    }
    .contents
    {
        display: block;
    }
}

@media only screen and (max-width: 425px)
{
    footer
    {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;
    }
    h3
    {
        margin: auto;
    }
    .contents
    {
        display: inline;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ft-cont
    {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: inline;
    }
    .contents1
    {
        display: inline-block;
        justify-content: center;
        /* align-items: center;
        text-align: center; */
    }
    .contents2
    {
        padding: 20px;
        justify-content: center;
    }

}



