*
{
    padding: 0px;
    margin: 0px;
}

.top-nav
{
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1)0%, 
        rgba(252,11,13,0.11817226890756305) 100%);
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
    position: relative;
    width: 100%;
    z-index: 1;
}


.contents-top
{
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    margin: auto;
    /* margin: auto; */
    width: 100%;
    padding: 15px 62px;
}

.nav-bar-contents
{
    display: flex;
    /* text-align: center;
    align-items: center; */
    float: left;
    margin: auto;
}

.nav-bar-h1
{
    /* opacity: 0.2; */
    font-family: 'Poppins';
    display: flex;
    justify-content: left;
    /* align-items: center;
    text-align: center; */
    /* margin:10px 200px; */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 60px; */
    color: #4A99D3;
    float: left;
    cursor: pointer;
}


.nav-bar-contents-info
{
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    padding: 10px;
    width: 50%;
}

.register-login
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    cursor: pointer;
}

.sell
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    cursor: pointer;
}
.register-login > i, .sell>i
{
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.register-login >p , .sell >p
{
    cursor: pointer;
    padding-right: 10px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F001A;
}



.banner
{
    padding: 0px 50px;
    width: auto;
    height: auto;
    
}

.banner-top
{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #EAF6FF;
}
.banner-contents
{
    background-color: #EAF6FF;
    width: 50%;
    padding: 100px 15px;
    
}

.buy-sell
{
    display:flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
}

.banner-button
{
    display: flex;
    border: 2px solid #FC0B0D;
    border-radius: 20px;
    background-color: #EAF6FF;
    width: 400px;
    height: 70px;
    margin: auto;
}

input
{
    margin: auto;
    outline: none;
    border: none;
    width: 300px;
    height: 60px;
    background-color: #EAF6FF;
    cursor: pointer;
}

input::placeholder
{
    color: #004B84;
}

.Search-More
{
    padding: 18px 0px;
    margin: auto;
}
.sliders
{

    margin: auto;
    padding-right: 20px;
}



.banner-image
{
    justify-content: center;
    width: 50%;
    display: flex;
}
.imgs
{
    margin-top: 70px;
    width: 436px;
    height: 382px;
    position: absolute;
    display: flex;
    align-items: center;
}

.cards
{
    width: 100%;
    display: flex;

}

.card
{
    /* position: absolute; */
    width: 50%;
    display: flex;
    margin: 100px 50px;
    padding: 30px;
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.card-details
{
    width: 50%;
    display: block;
    /* text-align: center; */

}

.card-heading
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29.65px;
    line-height: 36px;
    display: flex;
    /* align-items: center; */
    color: #000000;
    padding: 10px;
}
.card-p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20.65px;
    line-height: 25px;
    display: flex;
    padding: 10px;
    color: #000000;

}

.card-btn
{
    border: none;
    outline: none;
    background: #FC0B0D;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.product
{
    /* padding: 10px 50px; */
    display: inline-block;
    /* padding: 10px 50px; */
    margin: 20px 20px 20px 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-card
{
    justify-content: space-evenly;
    display: inline-block;
    width: 320px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
}

.product-image
{
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.product-h4
{
    padding: 5px 10px;
    display: flex;
    margin: auto;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.product-details
{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.product-p
{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #EB3223;
}

.product-btn
{
    background: #F12B2C;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: none;
    color: #FFFFFF;
}
.product-bottom
{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.product-btm-p
{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}
.product-date
{
    padding: 5px 0px 0px 0px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;

    opacity: 0.5;
}
.bottom
{
    display: flex;
    align-items: center;
    padding: 70px;
}
.bottom hr
{
    width: calc(48% - 100px);
    /* justify-content: center; */
    border: 2px solid #E5E5E5;
}
.btn
{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: #FFFFFF;
    border: 2px solid #FC0B0D;
    outline: none;
    padding: 20px ;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;

}

footer{
    display: flex;
    background: #EAF6FF;
    width: 100%;
    padding: 30px 0px;
}


.contents{
    display: flex;
    width: 50%;
    display: block;
    margin: 60px 71px;
}

.h2-contents
{
    display: flex;
    padding: 30px 30px 10px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.cont-p{
    padding: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #504A41;
}

.ft-cont
{
    margin: 60px 71px;
    padding: 57px;
    display: flex;
    width: 50%;
}
.contents1
{
    width: 50%;
}


h3
{
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #000000;

}
.details
{
    display: flex;
    padding: 10px 10px 10px 0px;
}
img
{
    padding-right: 12px;
}
p
{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.details1 p{
    padding: 10px 10px 10px 0px;
}

